.logo {
  height: 30px;
}

.actions-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 200px;
}

.profile-img {
  height: 28px;
  width: 28px;
}

.popup-cont {
  background-color: #212121;
  color: #fff;
  padding: 15px;
  border-radius: 5px;
  text-align: center;
  width: 300px;
  padding-left: 20px;
  padding-right: 20px;
}

.close-button {
  background-color: transparent;
  border: 2px solid #94a3b8;
  color: #fff;
  padding: 6px;
  height: 30px;
  width: 90px;
  margin-right: 10px;
  font-family: Roboto;
  font-weight: bold;
  cursor: pointer;
}

.confirmr-button {
  background-color: #4f46e5;
  border: none;
  color: #fff;
  padding: 6px;
  height: 30px;
  width: 90px;
  margin-right: 10px;
  font-family: Roboto;
  font-weight: bold;
  cursor: pointer;
}

@media (max-width: 576px) {
  .actions-container {
    width: 120px;
  }
  .header-cont {
    width: 100vh;
  }
}
